Source: com.github.bitseater.weather
Section: x11
Priority: extra
Maintainer: Carlos Suárez <bitseater@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               libgtk-3-dev,
               libsoup2.4-dev,
               libjson-glib-dev,
               libgeocode-glib-dev,
               libclutter-1.0-dev,
               libclutter-gtk-1.0-dev,
               libchamplain-0.12-dev,
               libwebkit2gtk-4.0-dev,
               libappindicator3-dev,
               valac-0.32 | valac (>= 0.32)
Standards-Version: 3.9.7

Package: com.github.bitseater.weather
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Forecast app for desktop
 Weather Data & Maps application built in Vala & Gtk.
