[Desktop Entry]
Name=Meteo
GenericName=Meteo App
Comment=Forecast App for desktop
Categories=Utility;Education;Science;
Exec=com.github.bitseater.weather
Icon=${SNAP}/meta/gui/meteo.svg
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.bitseater.weather
Keywords=Weather;Forecast;Temperature;Wind;Snow;Rain;
X-GNOME-UsesNotifications=true
